.box-transport-method{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 9vw;
    margin-top: 30vh;
    background-color: #ffffff8b;
    filter: drop-shadow(0px 0px 20px var(--black-shadow));
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.choice-stops{
	display: flex;
	padding: 10px;
	width: 55vw;
	font-size: 10px;
	border-width: 12px;
	border-color: #338CF1;
	background-color: var(--white);
	border-style: solid;
	border-radius: 30px;
	margin: auto;
}

.choice-stops input{
	font-size: 20pt;
	width: 20vh;
	border: none;
	background-color: var(--white);
	padding: 10px;
}