body{
    background-image: url(../../../public/background/bg-1.png);
    background-repeat:no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.icon{
    width: 35%;
    height: 80px;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    background: var(--red);
}
.icon img{
    height: 80px;
}